{% extends 'index.html' %}
{% load static %}
{% load cart %}
{% block title %}
    <title>Eshop | Seller Profile</title>
{% endblock %}

{% block body %}<br><br><br>

    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                {% if User.pic %}
                <img src={{User.pic.url}} height="500px" class="w-100">
                {% else %}
                <img src="{% static 'images/noimage.jpg' %}" height="500px" class="w-100">
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <h5 class="background text-light text-center w-100 p-2">Buyer Profile Section</h5>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <td>{{User.name}}</td>
                    </tr>
                    <tr>
                        <th>User Name</th>
                        <td>{{User.username}}</td>
                    </tr>
                    <tr>
                        <th>Email Id</th>
                        <td>{{User.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{User.phone}}</td>
                    </tr>
                    <tr>
                        <th>Address Line 1</th>
                        <td>{{User.addressline1}}</td>
                    </tr>
                    <tr>
                        <th>Address Line 2</th>
                        <td>{{User.addressline2}}</td>
                    </tr>
                    <tr>
                        <th>Address Line 3</th>
                        <td>{{User.addressline3}}</td>
                    </tr>
                    <tr>
                        <th>Pin</th>
                        <td>{{User.pin}}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{User.city}}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{User.state}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><a href="/updateprofile" class="btn btn-primary text-light text-center w-100">Update Profile</a></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <h5 class="background text-light text-center p-2">MY Wishlist Section</h5>
    <div class="table-responsive">
        <table class="table table-light table-striped table-hover">
            <tr>
                <th></th>
                 
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
                <th>Base Price</th>
                <th>Discount</th>
                <th>Final Price</th>
                <th>Stock</th>
                <th></th>
                <th></th>


            </tr>
            {% for i in Wishlist %}
            <tr>
                <td>
                    {% if i.product.pic1 %}
                    <img src={{i.product.pic1.url}} height="100px" width="100px">
                    {% else %}
                    <img src="../static/images/noimage.jpg" height="100px" width="100px">
                    {% endif %}
                </td>

                

                
                <td>{{i.product.name}}</td>
                <td>{{i.product.color}}</td>
                <td>{{i.product.size}}</td>
                <td>&#8377;{{i.product.basePrice}}</td>
                <td>{{i.product.discount}}%</td>
                <td>&#8377;{{i.product.finalPrice}}</td>
                <td>{{i.product.stock}}</td>
                <td><a href="/update-Product/{{i.id}}"><i class="material-icons">upgrade</i></a></td>
                <td><a href="/delete-Product/{{i.id}}"><i class="material-icons">delete_forever</i></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h5 class="background text-light text-center p-2">Order History Section</h5>
    <div class="table-responsive">
        
            {% for i in Orders %}
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <table class="table table-hover table-light table-striped">
                            <tr>
                                <th>Order Id</th>
                                <td>{{i.id}}</td>
                            </tr>
                            <tr>
                                <th>Payment Mode</th>
                                <td>{{i.mode}}</td>
                            </tr>
                            <tr>
                                <th>Payment Status</th>
                                <td>{{i.paymentstatus}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td>&#8377;{{i.total}}</td>
                            </tr>
                            <tr>
                                <th>Shipping</th>
                                <td>&#8377;{{i.shipping}}</td>
                            </tr>
                            <tr>
                                <th>Final Amount</th>
                                <td>&#8377;{{i.final}}</td>
                            </tr>
                            <tr>
                                <th>Order Date</th>
                                <td>{{i.date}}</td>
                            </tr>
                            
                        </table>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <table class="table table-light table-striped table-hover">
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Price</th>
                                <th>Qyt</th>
                                <th>Total</th>
                                
                                
                                
                            </tr>
                            {% for j in request|checkoutProduct:i.id %}
                                <tr>
                                    {% if request|checkoutProductImage:j.productid %}
                                    <td><img class="rounded-1" src={{request|checkoutProductImage:j.productid}} height="100px" width="100px"></td>
                                    {% else %}
                                    <td><img src="{% static 'images/noimage.jpg' %}" height="100px" width="100px"></td>
                                    {% endif %}

                                    <td>{{request|checkoutProductName:j.productid}}</td>
                                    <td>{{request|checkoutProductColor:j.productid}}</td>
                                    <td>{{request|checkoutProductSize:j.productid}}</td>
                                    <td>&#8377;{{request|checkoutProductPrice:j.productid}}</td>

                                    
                                    <td>{{j.q}}</td>
                                    <td>&#8377;{{j.total}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <hr>
            {% endfor %}
        
    </div>
{% endblock %}