{% extends 'index.html' %}
{% load static %}
{% load cart %}
{% block title %}
    <title>Mshop | Checkout Page</title>
{% endblock %}

{% block body %}<br><br><br>

    <div class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                <h5 class="background text-light text-center  p-2">Buyer Profile Section</h5>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>Name</th>
                        <td>{{User.name}}</td>
                    </tr>
                    <tr>
                        <th>User Name</th>
                        <td>{{User.username}}</td>
                    </tr>
                    <tr>
                        <th>Email Id</th>
                        <td>{{User.email}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{User.phone}}</td>
                    </tr>
                    <tr>
                        <th>Address Line 1</th>
                        <td>{{User.addressline1}}</td>
                    </tr>
                    <tr>
                        <th>Address Line 2</th>
                        <td>{{User.addressline2}}</td>
                    </tr>
                    <tr>
                        <th>Address Line 3</th>
                        <td>{{User.addressline3}}</td>
                    </tr>
                    <tr>
                        <th>Pin</th>
                        <td>{{User.pin}}</td>
                    </tr>
                    <tr>
                        <th>City</th>
                        <td>{{User.city}}</td>
                    </tr>
                    <tr>
                        <th>State</th>
                        <td>{{User.state}}</td>
                    </tr>
                    <tr>
                        <th colspan="2"><a href="/updateprofile" class="btn background text-light text-center w-100">Update Profile</a></th>
                    </tr>
                </table>
            </div>
        
            <div class="col-md-6 col-sm-12 col-12">
            <h5 class="background text-light text-center p-2">Checkout Section</h5>
            <div class="table-responsive">
                <table class="table table-light table-striped table-hover">
                    <tr>
                        
                        <th>Name</th>
                        
                        <th>Price</th>
                        
                        <th>Qyt</th>
                        
                        <th>total</th>
                        
                    </tr>
                    {% for i in Products %}
                        <tr>
                            {% if i.pic1 %}
                            <td><img class="rounded-1" src={{i.pic1.url}} height="100px" width="100px"></td>
                            {% else %}
                            <td><img src="{% static 'images/noimage.jpg' %}" height="100px" width="100px"></td>
                            {% endif %}
                            <td>{{i.name}}</td>
                            <td>&#8377;{{i.finalPrice}}</td>
                            <td>{{request|cartQty:i.id}}</td>
                            <td>&#8377;{{request|cartTotal:i.id}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div> 
            <table class="table table-light table-striped table-hover">
                    <tr>
                        <th>Total</th>
                        <td>&#8377;{{Total}}</td>
                    </tr>
                    <tr>
                        <th>Shipping</th>
                        <td>&#8377;{{Shipping}}</td>
                    </tr>
                    <tr>
                        <th>Final</th>
                        <td>&#8377;{{Final}}</td>
                    </tr>
                    <tr>
                        {% if request|showCheckButton:Final %}
                        <th colspan="2">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="mb=3">
                                    <label for ="mode" class="form-label">Payment Mode</label>
                                    <select name = "mode" class="form-control">
                                        <option value="COD">COD</option>
                                        <option value="Net Banking">Net Banking/Cart/UPI</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary text-light w-100">Place Order</button>
                            </form>
                        </th>
                        {% else %}
                        <th colspan="2"><a href="/shop/All/All/All/" class="btn background text-light w-100">No Items in Cart!! Shop now</a></th>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}