{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Eshop | SignUp</title>
{% endblock %}

{% block body %}<br><br><br>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
            <img src="{% static 'images/sign.png' %}" class="w-100">
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <h5 class="background text-light p-2 text-center">SignUp Section</h5>
            {% for i in messages %}
                <div class="alert alert-danger" role="alert">
                  {{i}}
                </div>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Seller Name">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter User Name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email Id">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                </div>
                <div class="mb-3">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password">
                </div>
                <div class="mb-3">
                    <label for="actype" class="form-label">Account Type</label>
                    <select name="actype" class="form-control">
                        <option value="seller" >Seller</option>
                        <option value="buyer">Buyer</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary text-light w-100">Sign Up</button>
                <a href="/login" class="text-decoration-none">Already User?Login</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}