{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Eshop | Singel Product</title>
{% endblock %}

{% block body %}<br><br><br>
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src={{Product.pic1.url}} class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src={{Product.pic2.url}} height="500px" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src={{Product.pic3.url}} height="500px" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src={{Product.pic4.url}} height="500px" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                <div class="mt-2 d-flex justify-content-between">
                    <img src="{{Product.pic1.url}}" width="24%" height="100px">
                    <img src="{{Product.pic2.url}}" width="24%" height="100px">
                    <img src="{{Product.pic3.url}}" width="24%" height="100px">
                    <img src="{{Product.pic4.url}}" width="24%" height="100px">



                </div>
              </div>
        </div>
        <div class="col-md-6 col-sm-12 col-12">
            <h5 class="background text-light p-2 text-center">Single Product Section</h5>
            <table class="table table-light table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <td>{{Product.name}}</td>
                </tr>
                <tr>
                    <th>Main-Category</th>
                    <td>{{Product.maincategory}}</td>
                </tr>
                <tr>
                    <th>Sub-Category</th>
                    <td>{{Product.subcategory}}</td>
                </tr>
                <tr>
                    <th>Brand</th>
                    <td>{{Product.brand}}</td>
                </tr>
                <tr>
                    <th>Base Price</th>
                    <td>&#8377;<del>{{Product.basePrice}}</del></td>
                </tr>
                <tr>
                    <th>Discount</th>
                    <td>{{Product.discount}}%</td>
                </tr>
                <tr>
                    <th>Final Price</th>
                    <td>{{Product.finalPrice}}</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>{{Product.color}}</td>
                </tr>
                <tr>
                    <th>size</th>
                    <td>{{Product.size}}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>{{Product.stock}}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{Product.description}}</td>
                </tr>
                <tr>
                    <th colspan="2"><a href="/add-to-cart/{{Product.id}}/" class="btn btn-primary text-light w-100">Add to Cart</a></th>
                    
                </tr>
                <tr>
                    <th colspan="2"><a href="/add-to-Wishlist/{{Product.id}}/" class="btn btn-primary text-light w-100">Add to Wishlist</a></th>
                    
                </tr>
            </table>
            
        </div>
    </div>
</div>
{% endblock %}