{% extends 'index.html' %}
{% load static %}
{% block title %}
    <title>Eshop | Seller Profile</title>
{% endblock %}

{% block body %}<br><br><br>

    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-12">
                {% if User.pic %}
                <img src={{User.pic.url}} height="500px" class="w-100">
                {% else %}
                <img src="{% static 'images/noimage.jpg' %}" height="700px" class="w-100">
                {% endif %}
            </div>
            <div class="col-md-6 col-sm-12 col-12">
                <h5 class="background text-light text-center w-100 p-2">Update Seller Profile Section</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Enter Seller Name" value="{{User.name}}">
                    </div>
                    
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter Email Id" value="{{User.email}}">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" name="phone" placeholder="Enter Phone Number" value="{{User.phone}}">
                    </div>

                    <div class="mb-3">
                        <label for="addressline1" class="form-label">Address Line 1</label>
                        <input type="text" class="form-control" name="addressline1" placeholder="Enter addressline1" value="{{User.addressline1}}">
                    </div>

                    <div class="mb-3">
                        <label for="addressline2" class="form-label">Address Line 2</label>
                        <input type="text" class="form-control" name="addressline2" placeholder="Enter addressline2" value="{{User.addressline2}}">
                    </div>

                    <div class="mb-3">
                        <label for="addressline3" class="form-label">Address Line 3</label>
                        <input type="text" class="form-control" name="addressline3" placeholder="Enter addressline3" value="{{User.addressline3}}">
                    </div>

                    <div class="mb-3">
                        <label for="pin" class="form-label">Pin</label>
                        <input type="text" class="form-control" name="pin" placeholder="Enter Pin Number" value="{{User.pin}}">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter City Name" value="{{User.city}}">
                    </div>
                    
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" name="state" placeholder="Enter State Name" value="{{User.state}}">
                    </div>

                    <div class="mb-3">
                        <label for="pic" class="form-label">Pic</label>
                        <input type="file" class="form-control" name="pic">
                    </div>
                    
                    <button type="submit" class="btn btn-primary text-light w-100">Update</button>
                </form>
    </div>
{% endblock %}